<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HEX</title>
    <script src="/js/jq.js"></script>
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/game3D.css">
    <script src="/js3D/three.js"></script>
    <script src="/js3D/OrbitControls.js"></script>
    <script src="/js3D/Settings.js"></script>
    <script src="/js3D/Doors3D.js"></script>
    <script src="/js3D/Light3D.js"></script>
    <script src="/js3D/Treasure3D.js"></script>
    <script src="/js3D/Hex3D.js"></script>
    <script src="/js3D/Ui.js"></script>
    <script src="/js3D/Player.js"></script>
    <script src="/js3D/PlayerMovement.js"></script>
    <script src="/js3D/Level3D.js"></script>
    <script src="/js3D/Game.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
<html>
