<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HEX</title>
    <script src="/js/jq.js"></script>
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/game3D.css">
    <script src="/js3D/application/three.js"></script>
    <script src="/js3D/application/OrbitControls.js"></script>
    <script src="/js3D/application/Settings.js"></script>
    <script src="/js3D/hex/Doors3D.js"></script>
    <script src="/js3D/hex/Light3D.js"></script>
    <script src="/js3D/hex/Treasure3D.js"></script>
    <script src="/js3D/hex/Hex3D.js"></script>
    <script src="/js3D/Ui.js"></script>
    <script src="/js3D/player/Model.js"></script>
    <script src="/js3D/player/Player.js"></script>
    <script src="/js3D/player/PlayerMovement.js"></script>
    <script src="/js3D/ally/Ally.js"></script>
    <script src="/js3D/Level3D.js"></script>
    <script src="/js3D/Game.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
<html>
