<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HEX</title>
    <script src="/js/jq.js"></script>
    <link rel="stylesheet" href="/css/application.css">
    <script src="/js3D/three.js"></script>
    <script src="/js3D/OrbitControls.js"></script>
    <script src="/js3D/Settings.js"></script>
    <script src="/js3D/Doors3D.js"></script>
    <script src="/js3D/Hex3D.js"></script>
    <script src="/js3D/Main3D.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
<html>
