<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HEX</title>
    <script src="/js/jq.js"></script>
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/level_editor.css">
    <script src="/js/EditorConfiguration.js"></script>
    <script src="/js/Hex.js"></script>
    <script src="/js/LevelEditor.js"></script>
    <script src="/js/Main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
<html>
