<div id="level_editor_left_panel" class="left-panel">
  <h2 class="left-title">HEX level editor</h2>
  <select id="hex_count"></select>
  <div class="hr"></div>
  <button id="save_level" class="save-button">Zapisz</button>
  <button id="export_level" class="save-button">Wczytaj</button>
  <div class="hr"></div>
  <a href="hex" class="btn-link"><button class="main-button">Hex</button></a>
  <a href="game" class="btn-link"><button class="main-button">Graj</button></a>
  <a href="movement" class="btn-link"><button class="main-button">Prosty ruch gracza</button></a>
  <a href="ally" class="btn-link"><button class="main-button">Prosty ruch sojusznika</button></a>
  <a href="allies" class="btn-link"><button class="main-button">Prosty ruch sojuszników</button></a>
  <a href="ally_model" class="btn-link"><button class="main-button">Prosty ruch modelu sojusznika</button></a>
  <div class="hr"></div>
  {{#each types}}
    {{#if first }}
      <button class="type-button type-active">{{name}}</button>
    {{else}}
      <button class="type-button">{{name}}</button>
    {{/if}}
  {{/each}}
</div>
<div id="json_panel" class="mid-panel"></div>
<div id="level_editor_field" class="editor-field"></div>
