<div id="level_editor_left_panel" class="left-panel">
  <h2 class="left-title">HEX level editor</h2>
  <select id="hex_count"></select>
  <button id="save_level" class="save-button">Zapisz</button>
</div>
<div id="level_editor_field" class="editor-field">

</div>
